.hero-section {
    position: relative;
    margin-top: 60px; // Adjust to match the height of the fixed header

    img {
        width: 100%;
        height: auto;
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;

        h1 {
            font-size: 3rem;
            margin: 0;
        }
    }
}

footer.footer {
    background-color: #0f0061;
    color: white;
    text-align: left;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.775rem;
}