<div class="container">
    <h1>Latest articles</h1>
    <select [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)" class="form-select">
        <option value="" disabled selected hidden>All Categories</option>
        <option *ngFor="let category of categories" [value]="category.slug">{{ category.name }}</option>
    </select>

    <div class="dropdown-space"></div>

    <div class="post-list">
        <div *ngFor="let post of displayedPosts" class="post-card">
            <a [routerLink]="['/post', post.slug]" class="post-card-link">
                <div class="post-category" *ngIf="post.categories">
                    <span *ngFor="let key of getCategoryKeys(post.categories)">{{ post.categories[key].name }}</span>
                </div>
                <img *ngIf="post.post_thumbnail" [src]="post.post_thumbnail.URL" alt="Post Thumbnail">
                <h2>{{ post.title }}</h2>
                <p>{{ post.date | timeAgo }}</p>
            </a>
        </div>
    </div>
    <div class="dropdown-space"></div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage <= 1">
                <a class="page-link" href="#" (click)="onPageChange(1)" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage <= 1">
                <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Page {{currentPage}} of {{totalPages}}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage >= totalPages">
                <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage >= totalPages">
                <a class="page-link" href="#" (click)="onPageChange(totalPages)" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>