.container {
    margin: 20px;
    padding-top: 20px;
}

.dropdown-space {
    height: 20px;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post-card {
    flex: 1 1 calc(25% - 40px);
    /* 4 cards in a row, accounting for gap */
    max-width: calc(25% - 40px);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.post-card-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.post-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.post-category {
    font-size: 0.9em;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Show only 2 lines */
    -webkit-box-orient: vertical;
}

p {
    color: #666;
    font-size: 0.9em;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .post-card {
        flex: 1 1 calc(33.33% - 40px);
        /* 3 cards in a row */
        max-width: calc(33.33% - 40px);
    }
}

@media (max-width: 900px) {
    .post-card {
        flex: 1 1 calc(50% - 40px);
        /* 2 cards in a row */
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .post-card {
        flex: 1 1 100%;
        /* 1 card in a row */
        max-width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}