<div class="post-container" *ngIf="post">
    <img *ngIf="post.featured_image" [src]="post.featured_image" alt="Featured Image" class="featured-image">
    <div class="post-content">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
            <span class="author-name">{{ post.author.name }}</span>
            <span class="post-date">{{ post.date | date:'short' }}</span>
        </div>
        <div [innerHTML]="post.content" class="post-body"></div>
    </div>
</div>